* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --fc-menu_height: 50px;
  user-select: none;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
}
