body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

#fc_bg__container {
  background: url(/src/assets/wallpaperflare.com_wallpaper.jpg) center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  filter: brightness(0.8);
}